* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container-nav-pm {
    background: #303A52;

    color:black;
    padding-top:10px ;
    min-height: 110px;
    border-bottom: #170055 3px solid;
    font-size: 20px;
    align-items: center;
  }

  .container-nav-pm h1{
    text-shadow: -2px 0 #DFFFFD, 0 2px #DFFFFD, 2px 0 #DFFFFD, 0 -2px #DFFFFD;
    cursor: pointer;
    float: left;
    margin-left: 60px;
    font-size: 40px;
   
    width: 100%;
  }

.userprofile-pm h1{
    margin-top: 50px;
  font-size: 45px;
  color: #000000;
  
  text-shadow: -2px 0 #DFFFFD, 0 2px #DFFFFD, 2px 0 #DFFFFD, 0 -2px #DFFFFD;
  margin-left: 70px;
}

  
  .App-pm {
    min-height: 100vh;

    display: flex;
  }
  
  .container-image-pm {
      margin-top: 200px;
      box-sizing: border-box;
   margin-left: 200px;
    width: 100%;
    width: 300px;
    height: 300px;
    border:4px solid black; 
    position: absolute;
    border-radius: 50%;
    overflow: hidden;


  }
  .remove-pm button{
      color: transparent;
      margin-top: 150px;
background-color: rgba(0, 0, 255, 0);

  }
  .remove-pm button:hover{
      background-color: blue;
      color: white;
      
  }
  .errorMsg-pm {
    color: red;
    font-size: 24px;
    margin: 3px 0;
  }
  
  .imgPreview-pm {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  
  .imgPreview-pm input[type="file"] {
    display: none;
  }
  
  .imgPreview-pm .customFileUpload {
    color: #55d6d6;
    font-size: 22px;
    font-weight: 500;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  button {
    border: none;
    outline: none;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 14px 10px;
    background: #55d6d6;
    color: #0a0a0a;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .box-pm{
    position:absolute;
    margin: auto;
    margin-top: 200px;
    margin-left: 700px;
}


.box-pm label{
  width: 150px;
  text-align: right;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  
}


  .box-pm select{
    font-size: 30px;
  }
  input{
  box-sizing: border-box;
  color: #170055;
  background-color: #7DEDFF;
  font-size: 20px;
  margin:auto;
  padding: 7px;
  width: 300px;
  height: 40px;
  border: 4px solid black;
  font-family: 'Roboto', sans-serif;
  }
  
  input:focus{
    border-color: aqua;
    border: 4px solid aqua;
  
  }
  
  
  .save_cancel-pm button{

    box-sizing: border-box;
  border:4px solid #000000;
  background-color: #7DEDFF;
  color:black;
  font-weight: bolder;
  height: 60px;
  width: 200px;
  font-size: 30px;
  border-radius: 100px;
  position:relative;
  margin-top: 650px;
  margin-left: 400px;
  margin-bottom: 100px;
  }
  .save_cancel-pm  #done{
    margin-left: 160px;
  }
  button:hover{
  background-color: #DFFFFD;
  }
  
