/*Navigation bar*/

.navbar {
  background: linear-gradient(90deg, #303A52 0%, #303A52 100%);
  height: 80px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 999; */
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.navbar-logo {
  margin-top: 5%;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
/* align-items: ; */
}

.game-title-toppage {
  margin-top: 80px;
  width: 30%;
  color: #DFFFFD;
  font-size: 2rem;
  margin-left: 1%;
  text-align: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  margin-top: 25px;
  height: 100%;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.4rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #7DEDFF;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

  /* .nav-links-mobile {
    display: none;
    margin-top:50px;
  } */
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #7DEDFF;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #7DEDFF;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #7DEDFF;
      color: #242424;
      transition: 250ms;
    }
  }

  /*----------- Hero Section -----------*/
  .hero-container{
    position: absolute;
    left: 0;
    top: -90px;
    z-index: -1;
    background-image: url("../assets/images/gameimage.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    display: flex;
  }

  .slogan {
    color:#242424;
  }
  
  @media screen and (max-width: 601px) {
  .hero-container h1{
    font-size: 60px;
    margin: auto;
  }
  
  }
  
  @media screen and (min-width: 960px) {
  .hero-container h1{
    font-size: 100px;
   margin: auto;
  
  }
  }
  
  
  /* ------------- How to play --------------*/
.How-to-play{
  width: 100%;
  background: #DFFFFD;
  align-items: center;
  border-radius: 100px;
   position: absolute;
   top: 800px;
}
.How-to-play h2{
font-weight: bold;
  text-align: center;
font-size: 100px;

}
.How-to-play p{
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

.howtoplay-para {
  margin: 0% 10%;
  font-size: 1rem;

}
  /*Footer*/
.footer{
  font-weight: bold;
  font-size: 30px;
  float:left;
  display: flex;
  align-items: center;
  margin-left: 50px;
  color:black;
  position: absolute;
  top: 1400px;
}

.contact-us {
    margin-right: 20px;
  }
.toppage-imgs {
    margin:5px;
}

.mail{
    color:black;
  }
  
  @media screen and (max-width: 601px) {
    div.footer  {
      font-size: 45px;
      margin-top: 20%;
    }
  }
  
  @media screen and (max-width: 960px) {
    div.footer  {
      font-size: 20px;
     margin-top: 20%;
  
    }
  }